<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>
        Users
    </title>
</head>
    <body>
    <h1> Users </h1>
        <div th:if="${#lists.size(users) == 1}" >
            <form action="" method="post">
                <div>
                    Full Name: <input type="text" th:field="${user.name}"/>
                </div>
                <div>
                    Username: <input type="text" th:field="${user.username}"/>
                </div>
                <div>
                    Password: <input type="password" th:field="${user.password}"/>
                </div>
                <hr>
                <div>
                    Address Line 1: <input type="text" th:field="${user.address.address_line1}" />
                </div>
                <div>
                    Address Line 2: <input type="text" th:field="${user.address.address_line2}" />
                </div>
                <div>
                    City: <input type="text" th:field="${user.address.city}" />
                </div>
                <div>
                    Country: <input type="text" th:field="${user.address.country}" />
                </div>
                <div>
                    Region: <input type="text" th:field="${user.address.region}" />
                </div>
                <hr>
                <div>
                    <input type="submit" value="Update User Account" />
                </div>
            </form>
            <form th:action="@{/users/{userid}/delete(userid=${user.userid})}" method="post">
                <input type="submit" value="Delete User Account" />
            </form>

        </div>

        <div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
            <span th:text="${user.userid}"> </span> <br />
            <span th:text="${user.username}"> </span> <br />
            <span th:text="${user.password}"> </span> <br />
            <span th:text="${user.name}"> </span> <br />
                    <div th:each="account : ${user.accounts}">
                        <span th:text="${account.accountName}"></span>
                    </div>
            <hr>
        </div>
    </body>
</html>