<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>
        Users
    </title>
</head>
    <body>
    <h1> Users </h1>
        <div th:if="${#lists.size(users) == 1}" >
            <form action="" method="post">
                <div>
                    Full Name: <input type="text" th:field="${user.name}"/>
                </div>
                <div>
                    Username: <input type="text" th:field="${user.username}"/>
                </div>
                <div>
                    Password: <input type="password" th:field="${user.password}"/>
                </div>
                <hr>
                <div>
                    Address Line 1: <input type="text" th:field="${user.address.address_line1}" />
                </div>
                <div>
                    Address Line 2: <input type="text" th:field="${user.address.address_line2}" />
                </div>
                <div>
                    City: <input type="text" th:field="${user.address.city}" />
                </div>
                <div>
                    Country: <input type="text" th:field="${user.address.country}" />
                </div>
                <div>
                    Region: <input type="text" th:field="${user.address.region}" />
                </div>
                <hr>
                <div>
                    <input type="submit" value="Update User Account" />
                </div>
            </form>
            <form th:action="@{/users/{userid}/delete(userid=${user.userid})}" method="post">
                <input type="submit" value="Delete User Account" />
            </form>
            <hr>
            <h2> Accounts </h2>
            <div th:each="account : ${user.accounts}">
                <a th:href="@{/users/{userid}/userBankAccount/{accountId}(userid=${user.userid},accountId=${account.accountId})}"
                   th:text="${account.accountName}"></a>
                <br>
                <input type="submit" th:action="@{/userBankAccount}"
                       method="post" value="Apply For / Update Bank Account" />
            </div>

            <a href="/users">Go Back</a>

        </div>

        <div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
            Id Number:  <span style="color: red" th:text="${user.userid}"> </span> <br />
            Username: <span style="color: red" th:text="${user.username}"> </span> <br />
            Password: <span style="color: white" th:text="${user.password}"> </span> <br />
            Name: <span style="color: green" th:text="${user.name}"> </span> <br />
            Address First Line: <span style="color: red" th:text="${user.address.address_line1}"> </span> <br />
            Address Second Line: <span style="color: red" th:text="${user.address.address_line2}"> </span> <br />
            City: <span style="color: red" th:text="${user.address.city}"> </span> <br />
            Country: <span style="color: red" th:text="${user.address.country}"> </span> <br />
            Region: <span style="color: red" th:text="${user.address.region}"> </span> <br />
                    <div th:each="account : ${user.accounts}">
                        Account: <span style="color: deepskyblue" th:text="${account.accountName}"></span>
                    </div>
            <hr>
        </div>
    </body>
</html>